vendor/**/*
node_modules/
public/storage
public/storage.*
public/uploads/avatars/*
public/uploads/banners/*
resources/assets/sass/reddit.scss

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

database.php


# Allow
!vendor/laravel/framework/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php
!vendor/laravel/framework/src/Illuminate/Foundation/Auth/RegistersUsers.php
