body {
    font-family: 'Roboto';
    margin-bottom: 50px;
}

.navbar .avatar {
  background-color: rebeccapurple;
  border-radius: 100%;
  width: 38px;
  box-sizing: border-box;
}
.drop-right {
  left: auto;
  right: 0;
  margin-right: -5px;
}
.navbar .pull-nav-right {
  margin: 0 5px;
  float: right;
}

.card-icons > a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}.card-block {
  padding: 0.5rem 0;
}
p.card-text {
  margin: 10px 0;
  padding: 10px 1.25rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.card-item {
padding: 0 1.25rem;
}

.card {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
span.collapse.in {
  display: inline;
}
ul.dropdown-menu.create-post {
    width: 450px;
    text-align: right;
    padding: 15px 15px 0px;
}
ul.dropdown-menu.create-post textarea {
  resize: vertical;
}


.reposted-post {
    line-height: 10px;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: -8px;
    background: #28d073;
    border-radius: 3px 3px 0px 0px;

}
.reposted-post * {
  color: white !important;
  font-size: 12px !important;
}
a.createcommunity{
  color: #131313;
  text-decoration: none;
}
.navbar {
    border-radius: 0rem;
    margin-bottom: 10px;
}
button.card-toggle {
    width: 100%;
    height: 37px;
    background: transparent;
    border: none;
    position: absolute;
    bottom: -30px;
    left: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    text-align: right;
    padding: 0 15px;
}button.card-toggle:focus{
  outline: none;
}
h5.setting-block {
    font-size: 1.05rem;
    margin-bottom: 0.2rem;
}


.card-collapse::before {
    content: "";
    width: calc(100% + 30px);
    margin: 9px 0 9px -15px;
    height: 1px;
    background: #e0e0e0;
    display: block;
}
.card-form > label {
    font-size: .9rem;
    font-weight: 600;
    margin-right: 15px;
}.card-form input {
    display: block;
    width: 100%;
}
.card-form input.btn.btn-primary {
    margin-top: 15px;
}
