@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700')
/*Login and Register forms*/
.welcome
  font-family: Lato

#left-panel img
  position: absolute
  top: 50%
  left: 50%
  margin-top: -100px
  margin-left: -100px


.welcome-form
  padding: 0px 40px
  position: relative
  width: 100%
  @include media-breakpoint-down(lg)
    padding-left: 0px
    padding-right: 0px
  h1
    font-weight: 100
    padding-bottom: 40px
  a
    color: #63d5c4
    &:hover, &:visited, &:active
      color: #63d5c4
  .ui.form
    button
      background-color: #63d5c4
      color: #000
      margin-top: 40px
      &:hover
        background-color: #63d5c4
        color: #000
        margin-top: 40px
    .field label
      color:#fff
      font-size: 16px
      padding-bottom: 10px
    input
      border: 0
      background-color: transparent
      border-radius: 0
      border-bottom: 1px solid #6b6b6b
      color: #fff
      width: 180px
      transition: width 1s ease
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
        color: #d4d4d4
        opacity: 0.6
      &:focus
        border: 0
        background-color: transparent
        border-radius: 0
        border-bottom: 1px solid #63d5c4
        color: #fff
        width: 100%



.welcome-tabs
  list-style-type: none
  margin-top: 30px
  padding: 0
  margin-bottom: 10px
  li
    display: inline-block
    cursor: pointer
    padding: 5px 0px 15px 0px
    color: #fff
    font-size: 40px
    font-weight: 300
    &.current
      border-bottom: 2px solid #63d5c4
  .or-divide
    display: inline-block
    padding: 13px 20px 0px 20px
    color: #63d5c4
    font-family: Lato
    font-weight: 300



// @media only screen and (max-width: 1263px)
//   ul.welcome-tabs
//     padding-right: 100px
//
// @media only screen and (max-width: 1005px)
//   .welcome-form
//
//
//   ul.welcome-tabs
//     padding-left: 100px!important
//     padding-right: 100px
//
// @media only screen and (max-width: 767px)
//   .welcome-form
//       padding-left: 100px!important
//       padding-right: 200px!important
//
//   ul.welcome-tabs
//       padding-left: 100px!important
//
// @media only screen and (max-width: 500px)
//   .welcome-form
//     padding-left: 0px!important
//     padding-top: 0px!important
//     padding-right: 30px!important
//
// @media only screen and (max-width: 500px)
//   ul.welcome-tabs
//     padding-left: 0px!important
//     padding-right: 0px!important
//
// .tab-content
//   display: none
//
// .tab-content.current
//   display: block
//
// .welcome-tabs
//   padding-left: 200px
//   padding-right: 200px
//   width: 100%
//
// ul.welcome-tabs
//
//   overflow: hidden
//   padding-top: 15%
//
// ul.welcome-tabs li
//   float: left
//   cursor: pointer
//   padding: 5px 0px 15px 0px
//   color: #fff
//   font-size: 40px
//   font-weight: 300
//
// ul.welcome-tabs li.current
//   border-bottom: 2px solid #63d5c4
//
// .or-divide
//   float: left
//   padding: 13px 20px 0px 20px
//   color: #63d5c4
//   font-family: Lato
//   font-weight: 300
/*END OF | Login and Register forms*/
