

// ---------------------------------
//   C O L O R S
// ---------------------------------
    //Neutral Colors
    $pure-white: #fff;
    $white: #f8f8f8;
    $off-white: #ededed;
    $light-grey: #dddddd;
    $light-light-grey: #e2e2e2;
    $dark-grey: #36363c;
    $grey: #b3b3b3;
    $black: rgb(31, 31, 34);
    $lighter-black: #333;

    //Red Colors

    //Orange Colors

    //Yellow Colors

    //Green Colors
      $green: #4caf50;
    //Cyan Colors

    //Blue Colors

    //Magenta Colors





// ---------------------------------
//   F O N T S
// ---------------------------------

    //Serif Fonts
    $main-sans-serif: 'Roboto';

// ---------------------------------
//  T E S T    V A R I A B L E S
// ---------------------------------

    $t_color: #ff0000;
