@import "_variables";
@import "_structure";
@import "_mixins";
body {
  background-color: $light-light-grey;
}

.btn{
  border-radius:0;
}

.navbar{
    background-color: $dark-grey;
    .nav-link, .navbar-brand {
      color: $light-grey !important;
      &:hover{
        color: $pure-white !important;}
      .notification-circle{
        background: $light-grey;
        border: 3px solid $dark-grey;}}
    button, i {
      color: $light-grey;
      border-color: $light-grey;
      &:hover{
        button, i {
          color: $pure-white;}
        border-color: $pure-white;
        background-color: transparent;}}}


.post-block{
  background-color: $white;
  border-color: $grey;
  .card-icons {
    background: $off-white;
    color: $dark-grey;
    border-top: 1px solid $light-grey;}
  .reposted-post {
      background-color: $off-white;
      border-bottom: 1px solid $light-grey;
      a {
       color: $dark-grey !important;}}
  .post-toggle{
    background: $off-white;
    border: 1px solid $grey;
  }
  .post-name{
    color: $dark-grey;
  }
}

#user-settings{
  .card{
    color:$dark-grey;
    border-radius: 0;
  }
}

#profile-settings::before{
  content: none;
}

#avatar-settings::before{
  content: none;
}

#banner-settings::before{
  content: none;
}

#register-center{
  border: 2px dashed $grey;
  border-radius: 20px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 50px;

  input{
    margin-bottom: 7px;
  }
}
