@import "_variables";
@import "_structure";
@import "_mixins";
//GLOBAL CSS
body {
  background-color: $light-light-grey;
}

.btn{
  border-radius:0;
}
// LOGIN AND REGISTER CSS
#login-container{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-70%);
  background: rgba(0,0,0,0.12);
  padding: 30px 0;
  color: white;
  text-shadow: 1px 1px #737373;
  font-weight: 300;
  input:focus{
    border-color: #474747;
  }
  .form-control{
    border-radius:0;
  }
  .btn-outline-primary{
    width: 100%;
    color: white;
    border-color: white;
    margin-top: 20px;
  }
}

#register-container{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.12);
  padding: 30px 0;
  color: white;
  text-shadow: 1px 1px #504e4e;
  font-weight: 300;
  input:focus{
    border-color: #474747;
  }
  .form-control{
    border-radius: 0;
  }
  .btn-outline-primary{
    width: 100%;
    color: white;
    border-color: white;
  }
}
//GLOBAL NAV
.navbar{
    background-color: $dark-grey;
    .nav-link, .navbar-brand {
      color: $light-grey !important;
      &:hover{
        color: $pure-white !important;}
      .notification-circle{
        background: $light-grey;
        border: 3px solid $dark-grey;}}
    button, i {
      color: $light-grey;
      border-color: $light-grey;
      &:hover{
        button, i {
          color: $pure-white;}
        border-color: $pure-white;
        background-color: transparent;}}}

.post-block{
  background-color: $white;
  border-color: $grey;
  .card-icons {
    background: $off-white;
    color: $dark-grey;
    border-top: 1px solid $light-grey;}
  .reposted-post {
      background-color: $off-white;
      border-bottom: 1px solid $light-grey;
      a {
       color: $dark-grey !important;}}
  .post-toggle{
    background: $off-white;
    border: 1px solid $grey;
  }
  .post-name{
    color: $dark-grey;
  }
}

//PROFILE SETTINGS CSS
#user-settings{
  .card{
    color:$dark-grey;
    border-radius: 0;
  }
}

#profile-settings::before{
  content: none;
}

#avatar-settings::before{
  content: none;
}

#banner-settings::before{
  content: none;
}

#delete-account-settings::before{
  content: none;
}

#deleteAccModal{
  input:focus{
    border-color: rgba(0,0,0,0.3);
    outline: none;
  }
}

#register-center{
  border: 2px dashed $grey;
  border-radius: 20px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 50px;

  input{
    margin-bottom: 7px;
  }
}

// USER PROFILE CSS

.banner-img {
  height: 33vw;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  top: -10px;
  left: 0;
}
  .banner-img .avatar {
    position: absolute;
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    bottom: -86px;
    left: 50px;
    z-index: 2
  }
  .banner-img .edit{
    font-size: 16px;
    background: rgba(0, 0, 0, 0.17);
    padding: 6px 10px;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.72);
  }
  .sort-ul {
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    top: -10px;
    width: 100%;
    z-index: 0;
    padding-left: 250px;
    margin-bottom: 40px;
    .sort-li {
      cursor: pointer;
      box-sizing: border-box;
      right: 15px;
      position: relative;
      padding: 1px 15px 1px;
      border-bottom: 5px solid transparent;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      bottom: -5px;
    }
    .sort-li:hover{
      border-bottom: 4px solid #3d6278;
    }
    .sort-li .header {
      font-size: 10px;
      letter-spacing: 1px;
      display: block;
      text-transform: uppercase;
      color: grey;
    }
    .sort-li .number {
      font-size: 23px;
    }
    .friend-btn{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 50px;
    }
  }
